* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kulen';
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
.product-drop {
    padding-left: 15px;
    padding-right: 15px;
}

.flame-icon {
    font-size: 1.5rem;
    padding-right: 5px;
    vertical-align: middle;
}
.product-card {
    position: relative;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-image-container {
    overflow: hidden;
    position: relative;
}

.product-image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.product-info {
    flex-grow: 1; 
    padding: 5px 0;
}

.product-link,
.product-name {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
}

.product-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}
.product-image-container {
    overflow: hidden;
    position: relative;
}

.product-image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.product-link:hover .product-image-container img {
    transform: scale(1.03);
}

.pricing-details {
    font-family: Arial, sans-serif; 
    font-size: 0.9rem;
}